.status {
  display: flex !important;
}

.margin-auto {
  margin: auto !important;
}

.main-content {
  height: 93%;
  display: flex !important;
  align-items: center !important;
}

.main-container {
  height: 100%;
}
